# Python cache files
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Environment files
.env

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Test/cache files
.pytest_cache/

# System files
.DS_Store
Thumbs.db
